apiVersion: apps/v1
kind: Deployment
metadata:
  name: springboot-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: springboot
  template:
    metadata:
      labels:
        app: springboot
    spec:
      containers:
        - name: springboot
          image: asia-south1-docker.pkg.dev/trusty-moment-476908-d1/my-repo/springboot:latest
          ports:
            - containerPort: 8080
