apiVersion: apps/v1
kind: Deployment
metadata:
  name: springboot-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: springboot
  template:
    metadata:
      labels:
        app: springboot
    spec:
      containers:
        - name: springboot
          image: asia-south1-docker.pkg.dev/trusty-moment-476908-d1/my-repo/springboot:latest
          ports:
            - containerPort: 8080

          env:
            - name: OTEL_SERVICE_NAME
              value: pantheon-business-app

            - name: OTEL_TRACES_EXPORTER
              value: googlecloud

            - name: OTEL_METRICS_EXPORTER
              value: none

            - name: OTEL_LOGS_EXPORTER
              value: none

            - name: OTEL_RESOURCE_ATTRIBUTES
              value: service.version=1.0.0,env=prod
